@import "../variables";

.btn {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  padding: 0.25rem 1rem;
  height: $button-height;
  border-color: transparent;
  border-radius: $rounded-md;

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.btn-primary {
  @extend .btn;
  color: $text;
  background: $primary;
}

.btn-primary-outline {
  @extend .btn;
  color: $primary;
  font-weight: 700;
  border-color: $primary;
  background: transparent;
}

.btn-secondary {
  @extend .btn;
  color: $text;
  background: $secondary;
}
