.container {
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1200px) {
    max-width: 1440px;
  }

  @media only screen and (max-width: 890px) {
    padding: 0 1rem;
  }
}
