@import "/styles/global.scss";

#signature-user {
  color: $bg-primary;

  #name {
    font-size: 100%;
    font-weight: bold;
  }

  #occupation,
  #telephone {
    color: $gray;
    font-size: 92%;
  }
}
