@import "/styles/global.scss";

#signature-card {
  padding: 10px 0px;

  #image-container {
    padding: 0 10px;
    padding-right: 24px;
    border-right: 1px solid $bg-primary;
  }

  #details-container {
    padding: 0 10px;
    padding-left: 24px;
  }

  #contact-container {
    padding-right: 8px;
  }
}
