@import "/styles/global.scss";

#credential-form {
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: $bg-primary;
  border-radius: $rounded-xl;

  > h1 {
    margin: 0;
    text-align: center;
    font-size: $text-lg;
    margin-bottom: 2.4rem;
  }

  > form {
    width: 66%;

    > div {
      @extend .form-group;
    }

    > button {
      width: 100%;
      @extend .btn-primary;
    }
  }

  @media only screen and (max-width: 890px) {
    > form {
      width: 100%;
    }
  }
}
