@import "/styles/global.scss";

#credential-form {
  margin-bottom: 2rem;

  > form {
    display: flex;
    justify-content: space-between;

    > div {
      @extend .form-group;
      width: calc(33% - 12px);
      margin-bottom: 0px !important;
    }
  }
}
