#signature-contact {
  tr > td {
    > img {
      margin-right: 12px;
    }

    > a {
      font-size: 15px;
      color: #ff5722;

      > img {
        margin-right: 14px;
      }

      &:last-of-type > img {
        margin-right: 0px;
      }
    }
  }
}
