#signature-contact {
  tr > td {
    > img {
      margin-right: 4px;
    }

    > a {
      font-size: 15px;
      color: #ff5722;

      > img {
        margin-right: 12px;
      }

      &:last-of-type > img {
        margin-right: 0px;
      }

      &#link {
        margin-right: 4px;
        padding-left: 12px;
        font-size: 80% !important;
        text-underline-position: under;
      }
    }
  }
}
